@import url(../header/__logo/header__logo.css);
.header {
    display: flex;
    max-width: 882px;
    margin: 0 auto;
    flex-direction: column;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7); ;
}
