.popup__profession {
    max-width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 30px 36px 48px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
